html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
fieldset,
form,
label,
caption,
section,
header,
menu,
nav {
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

header {
  background-color: black;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
}
img {
  width: 200px;
  height: auto;
}

section {
  background-color: lightgray;
  padding: 1.8rem;
  min-width: 25%;
}

button {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
}

#info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}
.container {
  align-self: center;
}
